.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.label {
  display: block;
  margin-bottom: 20px;
}

.input {
  height: 36px;
  width: 100%;
  padding: 8px;
  font-size: 18px;
}

.button {
  display: block;
  margin: 50px auto 0;
  width: 200px;
  height: 40px;
}

.center {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
}
